= form_tag root_path, :class => 'form-inline', :method => 'get' do
  .query-wrapper
    = search_field_tag :query, params[:query], :placeholder => "artist", :class => "input-xlarge"
    near
    = search_field_tag :location, params[:location], :placeholder => "address, city, state, country", :class => "input-xlarge"
    = link_to root_path, :class => "btn btn-link current-location nav-utils", :data => {:toggle => "tooltip", :placement => "bottom", :'original-title' => "Use current location?"} do
      %i.icon-map-marker
  = button_tag :type => 'submit', :class => "btn btn-large btn-primary", :id => "query-submit" do
    %i.icon-search