.dialogue-header.clearfix
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", id: 'close-dialogue'} ×
  %h3
    = image_tag @museum.avatar.url(:thumb), height: 40, width: 40, class: 'pull-left', style: 'margin-right: 10px'
    =@museum.name
.dialogue-body.clearfix
  .row-fluid
    .span3.artist-list-container
      %ul.nav.nav-tabs.nav-stacked
        - if @artist
          %li.active.featured-artist
            = link_to @artist.name, museum_path(@museum, query: @artist.name) , remote: true, class: "artist-specific"
        %li{ class: "#{ 'active' if params[:query].blank?}"}
          = link_to museum_path(@museum) , remote: true, class: "artist-specific" do
            All paintings
            %span.label
              = @museum.paintings.size
        - @museum.artists.each do |artist|
          -unless artist == @artist
            %li
              = link_to artist.name, museum_path(@museum, query: artist.name) , remote: true, class: "artist-specific"
    .span9.paintings-container
      %ul.thumbnails.painting-thumbnails
        - @paintings.each_with_index do |painting, i|
          %li.span3.painting-container{class: "#{ 'first' if i % 4  ==0 }"}
            .thumbnail{style: 'position:relative'}
              = image_tag painting.image.url(:thumb), class: 'painting-thumbnail'
              .overlay
                %p=truncate(painting.name, length: 40)
                %hr.no-margin
                %h5
                  %i.icon-user
                  =painting.artist.name