.dialogue-header.clearfix
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", id: 'close-dialogue'} ×
  %h3
    = image_tag @museum.avatar.url(:thumb), height: 40, width: 40, class: 'pull-left', style: 'margin-right: 10px'
    =@museum.name
.dialogue-body.clearfix
  .clearfix
    %h5.pull-left
      #{pluralize @paintings.count, "painting"}
      - if @artist
        by #{@artist.name}
      - if @artist
        %span.see-all
          = link_to '(See all)', museum_path(@museum), remote: true
  %ul.thumbnails.painting-thumbnails
    - @paintings.each_with_index do |painting, i|
      %li.span3.painting-container{class: "#{ 'first' if i % 4  ==0 }"}
        .thumbnail{data: { toggle: 'tooltip', title: "<h5>#{painting.name}</h5>"  }}
          = image_tag painting.image.url(:thumb), class: 'painting-thumbnail'