.dialogue-header.clearfix
  %h3.pull-left=@museum.name
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", id: 'close-dialogue'} ×
.dialogue-body.clearfix
  .clearfix
    %h5.pull-left
      #{pluralize @paintings.count, "paintings"}
      - if @artist
        by #{@artist.name}
      - if @artist
        %span.see-all
          = link_to '(See all)', museum_path(@museum), remote: true
  %ul.thumbnails.painting-thumbnails
    - @paintings.each_with_index do |painting, i|
      .span3{class: "#{ 'first' if i % 4  ==0 }"}
        .thumbnail{data: { toggle: 'tooltip', title: "<h5>#{painting.name}</h5>"  }}
          = image_tag painting.image.url(:thumb)